@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800&family=Special+Elite&display=swap');

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: black;
  color: whitesmoke;
  font-family: 'Special Elite', cursive;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: rgb(229, 8, 21);
  padding: 1rem;
  font-size: 1.5rem;

}

.column-container {
  display: flex;
  justify-content: space-around;
}

.wings {
  display: flex;
  flex-direction: column;
  color: whitesmoke;
  width: 40vw;
}

.wings input {
  height: 5vh;
  border-radius: 5px;
  margin-top: 1rem;
}

.title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
}

.dropdown {
  width: 100%;
  /* width: 60px;
  height: 100px; */
}

.dropdown-menu {
  width: 100%;
}

.dropdown-content {
  display: flex;
  flex-direction: column;
  gap: 1vh;
  margin-top: 1vh;
  width: 100%;
}

.dropdown-item {
  cursor: pointer;
  display: flex;
  width: 40vw;
  height: 100px;
  display: flex;
  align-items: center;
}

.dropdown-item img {
  margin-right: 2rem;
  width: 65px;
}

.is-active {
  display: block;
}

.is-hidden {
  display: none;
}